{% extends 'base.html' %}
{% block content %}

<br><br><br><br><br><br><br><br>
<div class="text-center">
    <div>
      <a class="btn btn-primary btn-lg btn-warning" href="dodaj_ucznia" role="button" style="padding: 20px 40px;">DODAJ <br> UCZNIA</a>
      <a class="btn btn-primary btn-lg btn-warning" href="wybierz_ucznia" role="button" style="padding: 20px 25px;">AKTUALIZUJ <br> SZKOLENIE</a>
      <br><br><a class="btn btn-primary btn-lg btn-success" href="raport_ogolny" role="button" style="padding: 20px 120px;">RAPORT <br> OGÓLNY</a>
    </div>
</div>

{% endblock %}